<div>
  
  <div>
 
    <iframe width="100%" height="350" [src]="vid.url | safe" 
     frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>
    
  </div>
  <form>
    <div class="form-group">
      <input type="input" class="form-control" name="title" required placeholder="Title" [(ngModel)]="vid.title">
    </div>
    <div class="form-group">

      <input type="input" class="form-control" name="url" required placeholder="URL" [(ngModel)]="vid.url">
    </div>
    <div class="form-group">

      <textarea class="form-control" name="description" required placeholder="Description" [(ngModel)]="vid.description"></textarea>
    </div>
    <button type="button" class="btn btn-primary" (click)="updateVideo()">Update</button>
    <button type="button" class="btn btn-danger" (click)="deleteVideo()">Delete</button>
    
  </form>
</div>
