<div>
  
  <div class="ddd">
<nav class="navbar navbar-expand-lg " >

  <div class="container-fluid">
    <a class="navbar-brand" href="#"> <div class="abc"> V-tube</div></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto" style="width:70%;">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/videos" routerLinkActive="active">Playlist</a>
        </li>
        
      </ul>
      <div *ngIf="isAuth==null">
      <div class="nav-item" style="float: right;margin-right:1.5em; ">
          <a class="nav-link btn btn-secondary" routerLink="/register" routerLinkActive="active">Register</a>
        </div>
      <div class="nav-item" style="float: right;margin-right:1.5em;">
          <a class="nav-link btn btn-secondary" routerLink="/login" routerLinkActive="active">Login</a>
        </div>
      </div>
      <div *ngIf="isAuth=='true'">
      <div class="nav-item" style="float: right;">
        <a class="nav-link btn btn-secondary" (click)="logout()"  routerLinkActive="active">Logout</a>
      </div>
    </div>
    </div>
  </div>
</nav>
</div>
<div class="container" style="margin-top: 1.5em;">
  <div class="bod" style="height: 600px">
  <router-outlet></router-outlet>
</div>
</div>





<!-- 
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">VideoPlayer </a>
    </div>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/videos" routerLinkActive="active">Playlist</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>  -->
<div class="footer  mt-5">
	
		<div class="row ">
			<div class="col-md-12  text-center">
				
				<h4>Follow me on 	<a href="www.facebook.com/Mohammadirfan Aadeez"><i class="fab fa-facebook"></i></a></h4>

			</div>
			<div class="col-md-12 text-center ">
				<h6 class="">Designed and Developped with <span class="zoomIn" style="color: red;">❤</span> by <a href="http://www.github.com/yalaIrfan">IrFaN AaDeEzZ</a> </h6>
			</div>
		</div>
	
</div>
	
</div>
